.title {
  color: #262626;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 16px;
}

.no-image {
  background-color: #fff0f0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #cc0000;
  margin: 16px 0px;
}

.click-counter {
  color: #262626;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 16px;
}

.counter-btn {
  border: none;
  padding: 16px 8px;
  background-color: #0071c2;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}

.image-container {
  text-align: center;
  margin: 16px 0px;
}
